flows-2.json
[{"id":"c1f4661edd4ee6e4","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"4e6d6f61cb3af929","type":"mqtt in","z":"c1f4661edd4ee6e4","name":"","topic":"meta/#","qos":"2","datatype":"auto-detect","broker":"9eade743.d590e8","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":160,"wires":[["4f9639a8905df0fc"]]},{"id":"4f9639a8905df0fc","type":"debug","z":"c1f4661edd4ee6e4","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":160,"wires":[]},{"id":"c4c332fe6192152d","type":"function","z":"c1f4661edd4ee6e4","name":"function 1","func":"msg.payload = msg.topic.split(\"/\")[4];\nif (msg.payload.startsWith(\"DIGIT \")) {\n    msg.payload = Number(msg.payload.substring(6))*10;\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":260,"wires":[["4f9639a8905df0fc","10e5f52b36691197","2c3d6afc188ea572","195dc43703257381"]]},{"id":"a8a0adcd55aaf87a","type":"mqtt in","z":"c1f4661edd4ee6e4","name":"","topic":"meta/TV/default/button/#","qos":"2","datatype":"auto-detect","broker":"9eade743.d590e8","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":260,"wires":[["c4c332fe6192152d"]]},{"id":"10e5f52b36691197","type":"mqtt out","z":"c1f4661edd4ee6e4","name":"","topic":"meta/TV/default/slider/VOLUME/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9eade743.d590e8","x":730,"y":360,"wires":[]},{"id":"2c3d6afc188ea572","type":"mqtt out","z":"c1f4661edd4ee6e4","name":"","topic":"meta/TV/default/image/ALBUMCOVER/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9eade743.d590e8","x":750,"y":420,"wires":[]},{"id":"cb926e5a4924868b","type":"inject","z":"c1f4661edd4ee6e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://raw.githubusercontent.com/jac459/meta-plex/main/pics/TV.jpg","payloadType":"str","x":270,"y":420,"wires":[["2c3d6afc188ea572","195dc43703257381"]]},{"id":"195dc43703257381","type":"mqtt out","z":"c1f4661edd4ee6e4","name":"","topic":"meta/TV/default/label/STATUS/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9eade743.d590e8","x":700,"y":480,"wires":[]},{"id":"9eade743.d590e8","type":"mqtt-broker","name":"MQTT-M1","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]